%html
  %head
    %meta{charset:"utf-8"}
    %script{src:"/glutil.js"}
    %script{src:"/shader.js"}
    %script{src:"/text2img.js"}
    %script{src:"/blur.js", charset:"utf-8"}
    %script{src:"/demo.js"}
    %script{src:"/jquery-1.10.2.min.js"}
    %script{type:"text/javascript"}
      $(function () {start(BlurEffect)});
  %body
    %input{type:"hidden", id:"hostname", value:@hostname}
    %canvas{id:"webglcanvas", width:512, height:512}
